* {
    padding: 0;
    margin: 0;
    color: #fff;
    font-weight: normal;
    box-sizing: border-box;
    outline: none;
}

html {
    height: 100%;
    font-size: 15px;
}

body {
    height: 100%;
    font-size: 1rem;
    background-color: #222;
    padding: 1rem;
    overflow-y: hidden;
}

a,
a:visited,
a:hover {
    color: inhert;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h1 {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: 1.2rem;
    color: #222;
    font-weight: bold;
    background-color: #fff;
    padding: 0 0.5em;
    border-radius: 1px;
}

h3 {
    position: relative;
    z-index: 2;
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 1rem;
    text-align: center;
    background-color: #222;
    margin-left: 75px;
}

.selected {
    color: #009900 !important;
}

.container {
    display: inline-block;
}

.container:last-of-type {
    margin-left: 2rem;
}

.content {
    width: 250px;
    display: inline-block;
    margin-right: 1rem;
}

input[type="text"],
.calc {
    height: 90px;
    line-height: 90px;
    font-size: 3rem;
    color: #fff;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#usage-area > div {
    display: flex;
    margin-bottom: 0.75rem;
}

dt {
    display: flex;
    margin-right: 5px;
}

dd {
    flex-grow: 1;
}

.key {
    display: flex;
    min-width: 20px;
    height: 25px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 1px solid #fff;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
}

#copy {
    font-size: 0.9rem;
    margin-top: 4rem;
}

.list {
    border: 1px solid #fff;
    height: 156px;
    margin-top: -15px;
    padding: 1rem;
    overflow-y: auto;
}

#search-area .list,
#save-area .list {
    height: 530px;
}

#keep-noun,
#keep-part {
    margin-bottom: 1rem;
}

.calc {
    display: none;
    white-space: pre;
}
