* {
    padding: 0;
    margin: 0;
    color: #009900;
    font-weight: normal;
    box-sizing: border-box;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

html {
    width: 100%;
    height: 100%;
    font-size: 15px;
}

body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    background-color: black;
    padding: 1rem;
    overflow: hidden;
}

a,
a:visited,
a:hover {
    color: inhert;
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

h1 {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: 1rem;
    color: black;
    font-weight: bold;
    background-color: #009900;
    padding: 0 0.5em;
    margin-bottom: 10px;
    border-radius: 1px;
}

#edit-noun,
#edit-part,
#edit-verb,
.calc {
    height: 60px;
    line-height: 60px;
    font-size: 2.5rem;
    margin-bottom: 10px;
    padding: 0 3px;
}

.calc {
    position: absolute;
    display: inline-block;
    height: 0;
    overflow: hidden;
    white-space: pre;
}

h3 {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.selected {
    background-color: #009900 !important;
    color: black !important;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#reibun-box {
    width: 35%;
    height: 300px;
}

#fav-noun-box,
#fav-part-box,
#fav-verb-box {
    width: calc((100% - 35% - 30px) / 3);
    height: 300px;
}

#search-box {
    display: none;
    position: fixed;
    top: 0;
    right: 10px;
    width: 200px;
    height: calc(100% - 10px);
    background-color: black;
}

#logs-box {
    width: 100%;
    margin-bottom: 1rem;
}

#logs {
    height: 100px;
    overflow-y: hidden;
}

.list {
    height: calc(100% - 30px);
    border: 1px dashed #009900;
    padding: 0.5rem;
    overflow-y: auto;
}

#usage {
    display: none;
}

#copy {
    font-size: 0.9rem;
}
