* {
    padding: 0;
    margin: 0;
    color: #009900;
    font-weight: normal;
    box-sizing: border-box;
    outline: none;
}

html {
    width: 100%;
    height: 100%;
    font-size: 15px;
}

body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    background-color: black;
    padding: 1rem;
    overflow: hidden;
}

a,
a:visited,
a:hover {
    color: inhert;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h1 {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: 1rem;
    color: black;
    font-weight: bold;
    background-color: #009900;
    padding: 0 0.5em;
    margin-bottom: 10px;
    border-radius: 1px;
}

input[type="text"],
.calc {
    height: 60px;
    line-height: 60px;
    font-size: 2.5rem;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="text"] {
    margin-bottom: 10px;
}

h3 {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.selected {
    background-color: #009900 !important;
    color: black !important;
}

.container {
    display: flex;
    justify-content: space-around;
    height: 400px;
}

.content {
    width: calc(65% / 3);
    height: 100%;
    vertical-align: top;
    padding: 0.25rem;
}

#reibun-box.content {
    width: 35%;
}

#search-box {
    display: none;
    position: fixed;
    top: 0;
    right: 10px;
    width: 200px;
    height: calc(100% - 10px);
    background-color: black;
}

#logs {
    height: 100px;
    margin: 0 0.25rem 1rem;
    overflow-y: hidden;
}

.list {
    height: calc(100% - 30px);
    border: 1px dashed #009900;
    padding: 0.5rem;
    overflow-y: auto;
}

#usage {
    display: none;
}

.usage {
    display: flex;
    margin-bottom: 0.5rem;
}

dt {
    display: flex;
    margin-right: 5px;
}

dd {
    flex-grow: 1;
}

.key {
    display: flex;
    min-width: 20px;
    height: 25px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 1px solid #fff;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
}

#copy {
    font-size: 0.9rem;
}

.calc {
    display: none;
    white-space: pre;
}
